In [5]:
import sqlalchemy
import psycopg2
from sqlalchemy import create_engine
import pandas as pd

In [36]:
#Reading CSV file from Google docs
sheet_url = 'https://docs.google.com/spreadsheets/d/1EyM7scZHltBXZtZIjgOovarFdfdFv-LBWVYkGEi7sts/edit#gid=53936285'
data_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

data = pd.read_csv(data_url,index_col=False)

In [35]:
data

,SNo,ObservationDate,Province,Country,LastUpdate,Confirmed,Deaths,Recovered
0,1,1/10/2020,Anhui,Mainland China,1/10/2020 17:00,1,0,0
1,2,1/11/2020,Beijing,Mainland China,1/11/2020 17:00,14,0,0
2,3,1/12/2020,Chongqing,Mainland China,1/12/2020 17:00,6,0,0
3,4,1/13/2020,Fujian,Mainland China,1/13/2020 17:00,1,0,0
4,5,1/13/2020,Gansu,Mainland China,1/13/2020 17:00,0,0,0
...,...,...,...,...,...,...,...,...
508,509,8/16/2020,NaN,Philippines,1/31/2020 23:59,1,0,0
509,510,8/17/2020,NaN,India,1/31/2020 23:59,1,0,0
510,511,8/18/2020,NaN,Sweden,1/31/2020 23:59,1,0,0
511,512,8/19/2020,Unknown,China,1/31/2020 23:59,0,0,0
512,513,8/20/2020,NaN,Kiribati,1/31/2020 23:59,0,0,0

In [39]:
#Remove index from data as index is not a columnin the Table created on PGadmin
df = data.set_index('SNo')

In [40]:
df

,ObservationDate,Province,Country,LastUpdate,Confirmed,Deaths,Recovered
SNo,,,,,,,
1,1/10/2020,Anhui,Mainland China,1/10/2020 17:00,1,0,0
2,1/11/2020,Beijing,Mainland China,1/11/2020 17:00,14,0,0
3,1/12/2020,Chongqing,Mainland China,1/12/2020 17:00,6,0,0
4,1/13/2020,Fujian,Mainland China,1/13/2020 17:00,1,0,0
5,1/13/2020,Gansu,Mainland China,1/13/2020 17:00,0,0,0
...,...,...,...,...,...,...,...
509,8/16/2020,NaN,Philippines,1/31/2020 23:59,1,0,0
510,8/17/2020,NaN,India,1/31/2020 23:59,1,0,0
511,8/18/2020,NaN,Sweden,1/31/2020 23:59,1,0,0
512,8/19/2020,Unknown,China,1/31/2020 23:59,0,0,0
513,8/20/2020,NaN,Kiribati,1/31/2020 23:59,0,0,0

In [44]:
# Connecting the engine to the pre-established table
engine = create_engine('postgresql://postgres:[Password]@localhost:5432/covid_19_data')
df.to_sql('covid_19_data', engine, if_exists='append')

513